th {
  cursor: pointer;
}

.input {
  width: 50%;
}

.filtrWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error1,
.error2 {
  font-weight: bold;
  display: none;
}
